<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpotifyCloneApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SpotifyCloneApplication.Properties.Settings>
            <setting name="sar1" serializeAs="String">
                <value />
            </setting>
            <setting name="sar2" serializeAs="String">
                <value />
            </setting>
            <setting name="sar3" serializeAs="String">
                <value />
            </setting>
            <setting name="sar4" serializeAs="String">
                <value />
            </setting>
            <setting name="sar5" serializeAs="String">
                <value />
            </setting>
            <setting name="sar6" serializeAs="String">
                <value />
            </setting>
            <setting name="sar7" serializeAs="String">
                <value />
            </setting>
            <setting name="sar8" serializeAs="String">
                <value />
            </setting>
            <setting name="sar9" serializeAs="String">
                <value />
            </setting>
            <setting name="sar10" serializeAs="String">
                <value />
            </setting>
            <setting name="sar11" serializeAs="String">
                <value />
            </setting>
            <setting name="sar12" serializeAs="String">
                <value />
            </setting>
            <setting name="sar13" serializeAs="String">
                <value />
            </setting>
            <setting name="sar14" serializeAs="String">
                <value />
            </setting>
            <setting name="sar15" serializeAs="String">
                <value />
            </setting>
        </SpotifyCloneApplication.Properties.Settings>
    </userSettings>
</configuration>